/*inicss*/
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon {
    height: 50px;
    width: 50px;
    
    /* for image icon */
    background-image: url(../assets/logo.jpeg);
    background-size: cover;
    border-radius: 50%;
}

nav>a {
    padding-left: 32px;
    padding-right: 32px;
    border: 1px solid;
}

.banner-container {
    height: 300px;
    width: 100%;
    border: 1px solid;
}

.profile-content {
    display: flex;
    justify-content: space-evenly;
}

.profile-item {
    text-align: center;
}

.profile-icon {
    height: 70px;
    width: 70px;
    
    
}

.tony-stark {
    background-image: url(../assets/tony.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.pepper-potts {
    background-image: url(../assets/pepper-potts.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.happy-hogan {
    background-image: url(../assets/happy-hogan.avif);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}




