/*inicss*/
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon {
    height: 50px;
    width: 50px;
    border: 1px solid;
}

nav>a {
    padding-left: 32px;
    padding-right: 32px;
    border: 1px solid;
}

.banner-container {
    height: 300px;
    width: 100%;
    border: 1px solid;
}

.profile-content {
    display: flex;
    justify-content: space-evenly;
}

.profile-icon {
    height: 50px;
    width: 50px;
    border: 1px solid;
    border-radius: 100%;
}

